<!DOCTYPE html>
<html lang="en">

{{>  head  }}

{{>  navbar }}
    
    <div class="row">
        <div class="col-8">
            <h1>Desarrollador principal</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eum rem reiciendis omnis sint, quibusdam aperiam quaerat deleniti eligendi possimus illum aliquam voluptatibus, hic adipisci. Cumque, eos! Architecto, nam assumenda!
        </div>
        <div class="col-4">
            <img src="/assets/img/diegomartinezb.jpg" class="img-thumbnail">
        </div>
    </div>
    

{{>  footer}}


</html>